@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.jumping-game {
    font-family: 'Press Start 2P', cursive;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 5rem auto 0 auto;
}

.jumping-game .grid {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.jumping-game .grid .character1 {
    background-image: url(../img/character1.png);
}

.jumping-game .grid .character2 {
    background-image: url(../img/character2.png);
}

.jumping-game .grid .character3 {
    background-image: url(../img/character3.png);
}

.jumping-game .start-btn {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50px;
    left: auto;
    background-image: url(../img/start_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    animation: shake 1s infinite;
    animation-direction: alternate;
    z-index: 1;
}

@keyframes shake {
    0% {
        transform: skewY(15deg);
    }
    100% {
        transform: skewY(-15deg);
    }
}

.jumping-game .start-btn:hover {
    animation: none;
    transform: scale(1.2);
}

.jumping-game .character,
.jumping-game .level,
.jumping-game .direction,
.jumping-game .arrow-key {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.jumping-game .level label {
    margin: 0 20px 0 10px;
}

.jumping-game .level p {
    margin: 10px;
}

.jumping-game .arrow-key {
    margin-top: 0;
    margin-bottom: 200px;
}

.jumping-game .arrow-key div i {
    font-size: 30px;
    padding: 5px 25px;
    color: rgb(22, 22, 145);
}

.jumping-game .character {
    width: 350px !important;
    margin: 30px 25px 0 25px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    border-radius: 5px;
}

.jumping-game .level {
    width: 350px !important;
    margin: 170px 25px 0 25px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #fff;
}

.jumping-game .direction {
    margin-bottom: 130px;
    margin-top: 0;
    padding-left: 4px;
}

.jumping-game .direction span {
    padding: 25px 7px;
    text-transform: uppercase;
    font-size: .5rem;
}

.jumping-game .character input[type=radio],
.jumping-game .level input[type=radio] {
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
}

.jumping-game .character img {
    width: 50px;
    margin: 0 30px 0 5px;
}

.jumping-game .doodler {
    width: 60px;
    height: 52px;
    background-image: url(../img/character1.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.jumping-game .score {
    text-align: center;
    margin-top: 2rem;
}

.jumping-game .doodler.goLeft {
    transform: rotateY(180deg);
}

.jumping-game .doodler.goRight {
    transform: rotateY(0deg);
}

.jumping-game .platform {
    width: 85px;
    height: 15px;
    border-radius: 20px;
    border: 3px solid rgb(248, 248, 252);
    position: absolute;
}

.jumping-game .game-over-btns {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}

.jumping-game .back-btn {
    margin: 10px 25px;
    padding: 5px 10px;
    cursor: pointer;
}

.jumping-game .github {
    position: absolute;
    z-index: 1;
    top: 560px;
    left: 350px;
    color: #222;
    cursor: pointer;
}

.jumping-game .github i {
    font-size: 2rem;
}