/* ====Global classes==== */

/* text */
.title-text {
  font: normal bold 50px/72px var(--roboto);
}

.text-uppercase {
  text-transform: uppercase;
}

.title-h1 {
  letter-spacing: 5px;
}

/* buttons */
.button {
  padding: 1rem 2rem;
  font: normal 500 16px/20px var(--roboto);
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after,
.button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: " ";
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  transition: background 0.6s ease;
}

.button.secondary-button:hover {
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}

button:focus,
button:active button:hover .btn:active,
.btn.active {
  outline: 0 !important;
  box-shadow: none !important;
}

/* paragraph */
p.para {
  color: var(--text-color);
  font: bold 500 30px/20px var(--roboto-nor);
}

/* font */
.font-roboto {
  font-family: var(--roboto);
}

.animate {
  -webkit-animation: animatezoom 0.5s;
  animation: animatezoom 0.5s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.active {
  display: block !important;
}